main{
  min-height: 70vh;
}
.btn-transparent {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 0;

  &:hover {
    color: white;
  }
}

.btn-bordered-white {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #E3E3E3;
  padding: 10px 0;
  border-radius: 0;
  width: 111px;

  &:hover {
    color: #808080;
  }
}
.btn-purple {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 0;
  width: 171px;
  height: 51px;
  background-color: $color-purple;

  &:hover {
    color: white;
  }
}


.btn-blue{
  font-size: 12pt;
  color: #fff;
  padding: 5px 15px;
  border: 1px solid #01859C;
  //background: linear-gradient(180deg, #01859C 0%, #00E5FF 100%);
  background: #0B4DD9;
  transition: 300ms ease-in-out;
  border-radius: 6px;
  &:hover{
    background: #fff;
    transition: 300ms ease-in-out;

    color: #0B4DD9;
    border: 1px solid #0B4DD9;
  }
}
.design_form{
  background: #fff;
  border-radius: 7px;
  display: flex;
  color: #000;
  justify-content: space-between;
  input{
    border: 0;
    padding: 0 10px;
  }
}
@keyframes centerMe {
  0% { top: 0%; transform: translateY(0%); }
  50% { top: 50%; transform: translateY(0%); }
  100% { top: 50%; transform: translateY(-50%); }
}

@media (min-width: 1200px) {
  .container {
    width: 1350px ;
  }
}