//ABSTRACTS
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
//LAYOUTS
@import "layout/header";
@import "layout/mobile-menu";
@import "layout/footer";
//COMPONENTS
@import "components/input";
@import "components/dropdown";
@import "components/checbox";
@import "components/container";
@import "components/flexes";

//PAGES
@import "pages/home";
@import "pages/about";
@import "pages/login";
@import "pages/invoice";
@import "pages/contact";
@import "pages/news";
@import "pages/account";
//BASE
@import "base/utilities";
@import "base/animations";
@import "base/typography";
@import "base/base";
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
}