footer{
  margin-top: 125px;
  color: #fff;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../img/footer_bg.png");
  .footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 120px;
    .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
      a+a{
        margin-right: 40px;
      }
    }
    .footer_right{
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        max-width: 100px;
        margin-left:20px;
      }
      li{
        display: flex;

      }
      span{
        color: #A6CCF6;
      }
    }
  }
  .footer_bottom{
    min-height: 30px;
    background: transparent;
    text-align: center;
  }

}
@media only screen and (max-width: 991px){

}
@include adaptiv-to(phone-screens) {
  footer{
    margin-top: 120px;
    .footer_top{
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }
  .footer_right{
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .footer_left{
    width: 100%;
    padding: 0 30px;
  }
}