.mobile-menu {
  display: none !important;
}
@include adaptiv-to(tablet-screens) {
  .web-menu{
    display: none !important;
  }
  .mobile-menu{
    display: flex;
    flex-wrap: wrap;
    li{
      margin-top: 5px;
      margin-left: 30px !important;

    }
    li+li{
      margin-right: 0 !important;
    }
  }
}
@include adaptiv-to(phone-screens) {
  .web-menu{
    display: none !important;
  }
  .mobile-menu{
    display: flex;
    flex-wrap: wrap;
    li{
      margin-top: 5px;
      margin-left: 30px !important;

    }
    li+li{
      margin-right: 0 !important;
    }
  }
}
@include adaptiv-to(comp-screens){

}
