
.header nav .navbar-nav .mobile-menu {
  display: none ;
}
@media (max-width:767px) {
  .web-menu{
    display: none !important;
  }
  .mobile-menu{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;

    li{
      margin-top: 5px;
      margin-left: 30px !important;

    }
    li+li{
      margin-right: 0 !important;
    }

  }
  .btn-sign{
    width: 100% !important;
  }
}

